<button id="add_button" type="button" class="btn btn-success btn-lg">
  Add Season
</button>
<script>
  $('#add_button').click(function () {
    Turbolinks.visit('<%= new_league_season_path @league %>');
  });
</script>
