<div id="seasons_index">
  <center>
    <h2>Seasons</h2>
      <table class="table table-bordered table-hover">
      <% for season in @seasons %>
        <td>
          <tr><%= season.name %></tr>
          <tr><%= season.get_spread current_user %></tr>
          <tr><%= season.get_ratio current_user %></tr>
        </td>
      <% end %>

    <h3>
      <span class="label label-default">Add Season</div>
    </h3>
  </center>
</div>
