<center>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1>Seasons</h1>
    </div>
    <div class="panel-body">
      <%= render 'seasons/index' %>
    </div>
  </div>
</center>
