<div id="new_season">
  <center>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>Create A Season</h1>
      </div>
      <div class="panel-body">
        <%= render 'seasons/form' %>
      </div>
    </div>
  </center>
</div>
