<div id="new_season">
  <center>
    <h1>Add Season</h1>
    <div id="season_name_alert" class="alert alert-danger new_season_alert" role="alert">
      The season must have a name.
    </div>
    <div id="season_date_alert" class="alert alert-danger new_season_alert" role="alert">
      The season must have an end date.
    </div>
    <div id="season_players_alert" class="alert alert-danger new_season_alert" role="alert">
      The number of players per team must be greater than zero.
    </div>
    <div id="season_cups_alert" class="alert alert-danger new_season_alert" role="alert">
      The number of cups per team must be greater than zero.
    </div>
    <div id="season_balls_alert" class="alert alert-danger new_season_alert" role="alert">
      The number of balls must be greater than zero.
    </div>
    <div class="form-group">
      <label for="season_name">Name</label>
      <input type="text" id="season_name" class="form-control" autofocus>
      <label for="end_date">End Date</label>
      <input type="date" id="end_date" class="form-control">
      <label for="players_per_team">Players Per Team</label>
      <input type="number" id="players_per_team" class="form-control">
      <label for="cups_per_team">Cups Per Team</label>
      <input type="number" id="cups_per_team" class="form-control">
      <label for="number_of_balls">Number of Balls</label>
      <input type="number" id="number_of_balls" class="form-control">
      <br>
      <div id="extra_rules_panel" class="panel panel-warning">
        <div id="extra_rules_heading" class="panel-heading">+ Additional Rules</div>
        <div id="extra_rules_body" class="panel-body">
          <textarea id="extra_rules_content" class="form-control"></textarea>
        </div>
      </div>
    </div>
    <%= render template: 'seasons/new_button' %>
  </center>
</div>
