<button id="create_season_button" type="button" class="btn btn-success">
  Create Season
</button>
<script>
  $('#create_season_button').click(function () {
    $('.new_season_alert').hide();
    if($('#season_name').val() === "") {
      $('#season_name_alert').show();
    } else if($('#players_per_team').val() === "" || $('#players_per_team').val() <= 0) {
      $('#season_players_alert').show();
    } else if($('#cups_per_team').val() === "" || $('#cups_per_team').val() <= 0) {
      $('#season_cups_alert').show();
    }
    else {
      var data = { 'season':
        { 'name': $('#season_name').val(),
          'players_per_team': $('#players_per_team').val(),
          'cups_per_team': $('#cups_per_team').val(),
          'additional_rules': $('#extra_rules_content').val()
        }
      };
      $.post('<%= league_seasons_path(@league) %>', data, function () {
        window.location.replace('<%= league_admin_path(@league) %>');
      });
    }
  });
</script>
