<button id="create_season_button" type="button" class="btn btn-success btn-lg">
  Create Season
</button>
<script>
  $('#create_season_button').click(function () {
    $('.new_season_alert').hide();
    if($('#season_name').val() === "") {
      $('#season_name_alert').show();
    } else if($('#end_date').val() === "") {
      $('#season_date_alert').show();
    } else if($('#players_per_team').val() === "" || $('#players_per_team').val() <= 0) {
      $('#season_players_alert').show();
    } else if($('#cups_per_team').val() === "" || $('#cups_per_team').val() <= 0) {
      $('#season_cups_alert').show();
    } else if($('#number_of_balls').val() === "" || $('#number_of_balls').val() <= 0) {
      $('#season_balls_alert').show();
    } else {
      var data = { season:
        { name: $('#season_name').val(),
          end_date: $('#end_date').val(),
          players_per_team: $('#players_per_team').val(),
          cups_per_team: $('#cups_per_team').val(),
          number_of_balls: $('#number_of_balls').val(),
          additional_rules: $('#extra_rules_content').val()
        }
      };
      $.post('<%= league_seasons_path(@league) %>', data, function () {
        Turbolinks.visit('<%= league_admin_path(@league) %>');
      });
    }
  });
</script>
