<center>
  <div id="invite_contacts" class="well"
       league_path="<%= url_for league_path(@league) %>"
       league_generate_invite_path="<%= url_for league_generate_invite_path(@league) %>">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="contact_list">Add Contact From Phone</label>&nbsp;
          <div id="contact_pane">
            <select id="contact_list" class="form-control">
              <option value="">Select a contact...</option>
            </select>
          </div>
        </div>
        <div id="selected_contacts" class="alert alert-success" role="alert">
          <h3>Selected Contacts</h3>
          <ul id="selected_contact_list" class="list-group"></ul>
        </div>
        <% if params[:new_league] %>
          <%= render 'invites/new_blurb' %>
        <% end %>
        <div class="btn-group btn-group-lg">
          <% if params[:new_league] %>
            <%= link_to 'Skip', league_path(@league), class: 'btn btn-default' %>
          <% end %>
          <button id="send_contact_invites" class="btn btn-success" type="button">
            Send Invites
          </button>
        </div>
      </div>
    </div>
  </div>
</center>
