<center>
  <div id="invite_contacts" class="well"
       league_path="<%= url_for league_path(@league) %>"
       league_generate_invite_path="<%= url_for league_generate_invite_path(@league) %>">
    <div class="row">
      <div class="col-md-12">
        <label for="contacts_list">Choose Contacts From Phone</label>&nbsp;
        <ul id="contacts_list" class="list-group">
          <li class="phone_contact list-group-item" phone_number="2323232323">here yo</li>
        </ul>
        <% if params[:new_league] %>
          <%= render 'invites/new_blurb' %>
        <% end %>
        <div class="btn-group btn-group-lg">
          <% if params[:new_league] %>
            <%= link_to 'Skip', league_path(@league), class: 'btn btn-default' %>
          <% end %>
          <button id="send_contact_invites" class="btn btn-success" type="button">
            Send Invites
          </button>
        </div>
      </div>
    </div>
  </div>
</center>
