<center>
  <div class="well">
    <div id="email_alert" class="invite_alert alert alert-danger" role="alert">
      An email address must be entered
    </div>
    <div class="form-group">
      <label for="email_address">Emails <i>(separated by commas)</i></label>
      <input type="email" id="email_address" class="form-control" autofocus>
    </div>
    <% if params[:new_league] %>
      <%= render 'invites/new_blurb' %>
    <% end %>
    <div class="btn-group btn-group-lg">
      <% if params[:new_league] %>
        <%= link_to 'Skip', league_path(@league), class: 'btn btn-default' %>
      <% end %>
      <button id="send_invite_button" type="button" class="btn btn-success">
        Send Invites
      </button>
    </div>
  </div>
</center>
