<div id="invite_contacts" leagues_path="<%= url_for leagues_path %>">
  <center>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>Invite Contacts</h1>
      </div>
      <div class="panel-body">
        <div id="contact_league_alert" class="invite_alert alert alert-danger"
             role="alert" hidden>
          A league must be selected
        </div>
        <div class="form-group">
          <label for"contact_league_selector">League</label>
          <select id="contact_league_selector" class="form-control">
            <option value="">Select a league</option>
            <% for league in @leagues %>
              <option value="<%= league.id %>"><%= league.name %></option>
            <% end %>
          </select>
          <label for="contact_list">Add Contact From Phone</label>&nbsp;
          <select id="contact_list" class="form-control">
            <option value="">Select a contact...</option>
          </select>
          <br>
          <div id="selected_contacts" class="alert alert-success" role="alert">
            <h3>Selected Contacts</h3>
            <ul id="selected_contact_list" class="list-group"></ul>
          </div>
          <div class="row">
            <button id="send_general_contact_invites" class="btn btn-lg btn-success"
                    type="button">
              Send Invites
            </button>
          </div>
        </div>
      </div>
    </div>
  </center>
</div>
