<ul class="nav nav-tabs">
  <li id="phone_contacts_button" role="presentation" class="active">
    <a>Phone Contacts</a>
  </li>
  <li id="email_button" role="presentation">
    <a>Email</a>
  </li>
</ul>
