<div class="alert alert-danger" role="alert">
  Note: You can add more players later by clicking the 
  "<span class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp;
  Invite Players" button in the side bar opened by clicking
  <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
  in the top left.
</div>
