<center>
  <div class="well">
    <div id="email_alert" class="invite_alert alert alert-danger" role="alert">
      An email address must be entered
    </div>
    <div class="form-group">
      <label for="email_address">Emails <i>(separated by commas)</i></label>
      <input type="email" id="email_address" class="form-control" autofocus>
    </div>
    <% if params[:new_league] %>
      <p>
        Note: You can add more players later by clicking the
        "<span class="glyphicon glyphicon-send" aria-hidden="true"></span>
        &nbsp;Invite Players" button in the side bar opened by clicking
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
        in the top right.
      </p>
    <% end %>
    <div class="btn-group">
      <% if params[:new_league] %>
        <%= link_to league_path(@league) do %>
          <button id="skip_invites_button" type="button" class="btn btn-default btn-lg">
            Skip
          </button>
        <% end %>
      <% end %>
      <button id="send_invite_button" type="button" class="btn btn-success btn-lg">
        Send Invites
      </button>
    </div>
  </div>
</center>
