<center>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1>Invite Players To <%= link_to @league.name, league_path(@league) %></h1>
    </div>
    <div class="panel-body">
      <div id="email_alert" class="invite_alert alert alert-danger" role="alert">
        An email address must be entered
      </div>
      <div class="form-group">
        <label for="email_address">Emails <i>(separated by commas)</i></label>
        <input type="email" id="email_address" class="form-control" autofocus>
      </div>
      <% if params[:new_league] %>
        <p>
          Note: You can add more players later by clicking the
          "<span class="glyphicon glyphicon-send" aria-hidden="true"></span>
          &nbsp;Invite Players" button in the side bar opened by clicking
          <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
          in the top right.
        </p>
      <% end %>
      <div class="btn-group">
        <% if params[:new_league] %>
          <%= link_to url_for(league_path @league) do %>
            <button id="skip_invites_button" type="button" class="btn btn-default btn-lg">
              Skip
            </button>
          <% end %>
        <% end %>
        <button id="send_invite_button" type="button" class="btn btn-success btn-lg">
          Send Invites
        </button>
      </div>
    </div>
  </div>
</center>
