<div id="invite_page">
  <center>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Invite to <%= @league.name %></h2>
      </div>
      <div class="panel-body">
        <div id="email_alert" class="invite_alert alert alert-danger" role="alert">
          An email address must be entered
        </div>
        <div class="form-group">
          <label for="email_address">Emails <i>(separated by commas)</label>
          <input type="email" id="email_address" class="form-control" autofocus>
        </div>
        <%= render template: 'leagues/invite_button' %>
      </div>
    </div>
  </center>
</div>
