<button id="add_button" type="button" class="btn btn-success">
  Add League
</button>
<script>
  $('#add_button').click(function () {
    window.location.replace('<%= new_league_path %>');
  });
</script>
