<div id="edit_league">
  <center>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>
          Edit League <%= link_to @league.name, league_path(@league) %>'s Information
        </h1>
      </div>
      <div class="panel-body">
        <% if @league.games.count == 0 %>
          <%= link_to league_path(@league), method: :delete do %>
            <button class="btn btn-lg btn-danger">
              Delete League
            </button>
          <% end %>
          <br>
          <br>
        <% end %>
        <%= render 'leagues/form' %>
      </div>
    </div>
  </center>
</div>
