<button id="send_invite_button" type="button" class="btn btn-success">
  Send Invite
</button>
<script>
  $('#send_invite_button').click(function () {
    $('.invite_alert').hide();
    if($('#email_address').val() != '') {
      var data = { invite: { email: $('#email_address').val() } };
      $.post('<%= league_invites_path @league %>', data, function () {
        Turbolinks.visit('<%= league_admin_path @league %>');
      });
    } else {
      $('#email_alert').show();
    }
  });
</script>
