<div id="league_members">
  <center>
    <div class="btn-group btn-group-lg">
      <button id="add_member" type="button" class="btn btn-danger">
        Add Member
      </button>
    </div>
    <h2>Members</h2>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td>Name</td>
          <td>Admin</td>
        </tr>
      </thead>
      <tbody>
        <% for user in @users %>
          <tr class="member_row" member_path="<%= user_path user %>">
            <td><%= user.email %></td>
            <td><%= user.admin? @league %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </center>
</div>
<script>
  $('#add_member').click(function () {
    window.location.replace("<%= new_league_invite_path @league %>");
  });
</script>
