<div id="league_navigation">
  <center>
    <div class="btn-group" role="group" aria-label="...">
      <%= render template: 'common/log_game' %>
      <% if current_user.admin? @league %>
        <button id="admin_page" type="button" class="btn btn-default">
          Admin Page
        </button>
      <% end %>
    </div>
    <script>
      $('#admin_page').click(function () {
        window.location.replace('<%= league_admin_path @league %>');
      });
    </script>
  </center>
</div>
