<% new_button = render template: 'leagues/new_button' %>
<%= render template: 'common/nav_bar', locals: { additional_buttons: new_button } %>
<div id="new_league">
  <center>
    <h2>Add League</h2>
    <div id="league_name_alert" class="alert alert-danger" role="alert"> 
      The league must have a name. 
    </div>
    <div class="form_group">
      <label for="league_name">Name</label>
      <input type="text" id="league_name" name="league_name" class="form-control">
    </div>
  </center>
  <script> 
    $('#league_name_alert').hide();
  </script>
</div>
