<div id="new_league">
  <center>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>Create A League</h1>
      </div>
      <div class="panel-body">
        <%= render 'leagues/form' %>
      </div>
    </div>
  </center>
</div>
