<button id="create_league_button" type="button" class="btn btn-success btn-lg">
  Create League
</button>
<script>
  $('#create_league_button').click(function () { 
    if($('#league_name').val() === "") {
      $('#league_name_alert').show();
    } else {
      var data = { 'league':
        { 'name': $('#league_name').val(),
          'user_id': <%= current_user.id %>
        }
      };
      $.post('<%= leagues_path %>', data, function (response) {
        Turbolinks.visit(response.path);
      });  
    }
  });
</script>
