<div id="user_rating_graph" class="well">
  <ul class="nav nav-tabs">
    <li id="league_ratings_button" role="presentation">
      <a>League Ratings</a>
    </li>
    <li id="season_ratings_button" role="presentation" class="active">
      <a>Season Ratings</a>
    </li>
  </ul>
  <div class="panel panel-default">
    <div class="panel-body">
      <div id="graphs_container" class="row">
        <div id="season_ratings_graph">
          <div id="league_graph_canvas"></div>
        </div>
        <div id="league_ratings_graph">
          <div id="season_graph_canvas"></div>
        </div>
      </div>
    </div>
  </div>
  <script>
    var league_ratings_data = <%= raw render(template: 'ratings/leagues.json') %>;
    var season_ratings_data = <%= raw render(template: 'ratings/seasons.json') %>;
  </script>
</div>
