<%= render template: 'common/nav_bar', locals: { additional_buttons: '' } %>
<div id="user_page">
  <center>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <%= image_tag 'balls-default.jpg', alt: 'Balls', class: 'img-thumbnail' %>
        </div>
        <div class="col-md-6">
          <h2><%= @user.email %></h2>
          <br>
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3>League Rank</h3>
            </div>
            <div class="panel-body">
              <h3>17</h3>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="col-md-6">
                34/34
              </div>
              <div class="col-md-6">
                +0
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </center>
</div>
