<center>
  <div class="col-md-6">
    <a href="https://itunes.apple.com/us/app/id984425507">
      <%= image_tag 'app_store_badge.svg', alt: 'iOS app on App Store', height: 60 %>
    </a>
  </div>
  <div class="col-md-6">
    <a href="https://play.google.com/store/apps/details?id=com.ballsapp.www.ballsapp">
      <img alt="Android app on Google Play"
           src="https://developer.android.com/images/brand/en_app_rgb_wo_60.png" />
    </a>
  </div>
</center>
