<div id="home_page">
  <div class="row">
    <div id="info_pane" class="col-md-6">
      <center>
        <h3>
          <b>GET YOUR BALLS WET</b>
        </h3>
      </center>
    </div>
    <br>
    <div class="col-md-6">
      <%= render template: 'common/user_entrance' %>
    </div>
  </div>
</div>
