<div id="home_page">
  <div class="row">
    <div id="info_pane" class="col-md-6">
      <%= render template: 'welcome/intro' %>
    </div>
    <br>
    <div class="col-md-6">
      <%= render template: 'common/user_entrance' %>
    </div>
  </div>
</div>
