<div id="home_page">
  <% if mobile_device? %>
    <div class="row">
      <%= render template: 'common/user_entrance' %>
    </div>
  <% else %>
        <div class="row">
          <div id="info_pane" class="col-md-6">
            <%= render template: 'welcome/intro' %>
          </div>
          <br>
          <div class="col-md-6">
            <%= render template: 'common/user_entrance' %>
          </div>
        </div>
    <div class="row">
      <div class="col-md-12">
        <%= render template: 'welcome/example' %>
      </div>
    </div>
  <% end %>
</div>
