<div id="home_page">
  <div class="row">
    <div id="info_pane" class="col-md-6">
      <center>
        <font size="200">
          <br>
          <b>CUP<br>YOUR<br>BALLS</b>
        </font>
      </center>
    </div>
    <div class="col-md-6">
      <%= render template: 'common/user_entrance' %>
    </div>
  </div>
</div>
