<center>
  <h3>
    <b>GET YOUR BALLS WET</b>
  </h3>
</center>
<p>
  Are you the best Beer Pong player you know? Prove it. With BallsApp, create leagues among
  friends, record games, make the rules for totally customizable seasons, view stats and take
  your beer pong game to the next level.  Leave nothing to bluster and banter and definitively
  rank the members of your friend circle or fraternity based on an ELO ranking system, forever
  removing any uncertainty of the true skill levels of the people you play beer pong with.
</p>
<p>
  Simply create an account, then a league (group of people who frequently play together) and
  invite the friends you’d like to join via a simple email invitation. Once they’ve clicked
  the link, they’re in the league and can participate in any season with the league (ie; 10
  Cup Spring 2015). The rest is fluid as natty ice, put balls in cups, log your games and
  rise to the top of the rankings for your frat, friend circle or sports team. Have no doubt,
  the best man will win. Get your balls wet and play a game.
</p>
<b>Features:</b>
<ul>
  <li>Create Leagues among your buddies, teammates or fraternity brothers</li>
  <li>Customize the rules of engagement and schedule seasons</li>
  <li>View your own and other players’ stats</li>
  <li>Browse real time scoreboards for seasons and overall league ranking</li>
  <li>Invite friends via email with the touch of a button</li>
  <li><i>Coming Soon</i> Duke it out with other leagues in conference play</li>
</ul>
<p>
  Experience the ultimate beer pong ranking and competitive play application on the market.
  Your local liquor store will thank you.
</p>
