<center>
  <div class="well">
    <h1>Your League Here</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>League Standings</h3>
        </div>
        <div class="panel-body">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <td>#</td>
                <td>Name</td>
                <td>Rating</td>
                <td>Games</td>
                <td>+/-</td>
              </tr>
            </thead>
            <tbody>
              <tr class="current_user_row">
                <td>1</td>
                <td>You</td>
                <td>3035</td>
                <td>4</td>
                <td>4/0</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Pete</td>
                <td>3023</td>
                <td>3</td>
                <td>3/0</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Darryl</td>
                <td>3018</td>
                <td>3</td>
                <td>1/2</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Brian</td>
                <td>2996</td>
                <td>4</td>
                <td>3/1</td>
              </tr>
              <tr>
                <td>5</td>
                <td>Tony</td>
                <td>2995</td>
                <td>4</td>
                <td>1/3</td>
              </tr>
              <tr>
                <td>6</td>
                <td>Uncle Sam</td>
                <td>2989</td>
                <td>3</td>
                <td>1/2</td>
              </tr>
              <tr>
                <td>7</td>
                <td>S. Thompson</td>
                <td>2977</td>
                <td>2</td>
                <td>0/2</td>
              </tr>
              <tr>
                <td>8</td>
                <td>Charles</td>
                <td>2957</td>
                <td>3</td>
                <td>0/3</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Season Standings</h3>
        </div>
        <div class="panel-body">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h2>10 Cup Fall 2015</h2>
            </div>
            <div class="panel-body">
              Ends <span class="game_date">2015-12-31</span>
              <br>
              <br>
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <td>#</td>
                    <td>Name</td>
                    <td>Rating</td>
                    <td>Games</td>
                    <td>+/-</td>
                  </tr>
                </thead>
                <tbody>
                  <tr class="current_user_row">
                    <td>1</td>
                    <td>You</td>
                    <td>1534</td>
                    <td>3</td>
                    <td>3/0</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Pete</td>
                    <td>1523</td>
                    <td>3</td>
                    <td>3/0</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Darryl</td>
                    <td>1520</td>
                    <td>2</td>
                    <td>1/1</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>Tony</td>
                    <td>1497</td>
                    <td>3</td>
                    <td>1/2</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>Brian</td>
                    <td>1495</td>
                    <td>3</td>
                    <td>2/1</td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td>Uncle Sam</td>
                    <td>1488</td>
                    <td>2</td>
                    <td>0/2</td>
                  </tr>
                  <tr>
                    <td>7</td>
                    <td>S. Thompson</td>
                    <td>1477</td>
                    <td>2</td>
                    <td>0/2</td>
                  </tr>
                  <tr>
                    <td>8</td>
                    <td>Charles</td>
                    <td>1459</td>
                    <td>2</td>
                    <td>0/2</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</center>
