<div id="games_listing">
  <h3>Games</h3>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <td>Date</td>
        <td>Participants</td>
      </tr>
    </thead>
    <tbody>
      <% for game in @games %>
        <% season = game.season %>
        <% league = season.league %>
        <% path = league_season_game_path league, season, game %>
        <tr class="game_row" game_path="<%= path %>">
          <td><%= game.created_at %></td>
          <td>
            <% for player in game.players[0..(game.players.size - 2)] %>
              <%= player.user.name %>,
            <% end %>
            <%= game.players[-1].user.name %>
          </td>
        </tr>
      <% end %>
    <tbody>
  </table>
</div>
