<div class="modal fade" id="log_game_modal" tabindex="-1" role="dialog" aria-labelledby="log_game_modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
          Log Game
        </h4>
      </div>
      <div class="modal-body">
        <div id="league_name_alert" class="alert alert-danger" role="alert">
          You must select a league
        </div>
        <div id="season_name_alert" class="alert alert-danger" role="alert">
          You must select a season
        </div>
        <div id="cup_differential_alert" class="alert alert-danger" role="alert">
          The cup differential must be greater or equal to zero
        </div>
        <div id="no_player_alert" class="alert alert-danger" role="alert">
          A player must be chosen for each slot
        </div>
        <div id="duplicate_player_alert" class="alert alert-danger" role="alert">
          A single player cannot fill multiple slots
        </div>
        <%= render template: 'games/new' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
<script>
  $('#league_name_alert').hide();
  $('#season_name_alert').hide();
  $('#cup_differential_alert').hide();
  $('#no_player_alert').hide();
  $('#duplicate_player_alert').hide();
</script>
