<div id="new_game">
  <div class="form-group">
    <label for="game_league_name">League</label>
    <select id="game_league_name" class="form-control">
        <option value="">Select a league</option>
      <% for league in @leagues %>
        <option value="<%= league.id %>"><%= league.name %></option>
      <% end %>
    </select>
    <label for="game_season_name">Season</label>
    <select id="game_season_name" class="form-control" disabled>
    </select>
    <label for="cup_differential">Cup Left</label>
    <input type="number" id="cup_differential" class="form-control">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="row">
          <div id="winners" class="col-sm-offset-1 col-md-4"></div>
          <div id="losers" class="col-md-4"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var seasons = [];
  var players = [];
  $('#game_league_name').change(function () {
    $('.log_game_alert').hide();
    $('#winners').empty();
    $('#losers').empty();
    if($('#game_league_name').val() != "") {
      $.get(
        '<%= leagues_path %>/' + $('#game_league_name').val() + '/seasons.json',
        function (data) {
          seasons = data;
          $('#game_season_name').empty();
          $('#game_season_name').append('<option value="">Select a season</option>');
          if(seasons.length > 0) {
            seasons.forEach(function (season) {
              var ops = '<option id="season' + season.id +
                        '" cups_per_team="' + season.cups_per_team +
                        '" players_per_team="' + season.players_per_team + '">';
              var option = $('<option id="season' + season.id + '">').val(season.id)
              option.append(season.name);
              $('#game_season_name').append(option);
              $('#season' + season.id).attr({
                cups_per_team: season.cups_per_team,
                players_per_team: season.players_per_team
              });
            });
            $('#game_season_name').prop('disabled', false);
          } else {
            $('#no_seasons_alert').show();
            return;
          }
        }
      );
      $.get(
        '<%= leagues_path %>/' + $('#game_league_name').val() + '/players.json',
        function (data) {
          players = data;
        }
      );
    } else {
      $('#game_season_name').prop('disabled', true);
    }
  });
  function create_player(t, i) {
    if(t === 0) {
      var player = $('<div class="team' + t + ' panel panel-success">');
    } else {
      var player = $('<div class="team' + t + ' panel panel-danger">');
    }
    player.append('<div class="panel-heading">Player ' + (i + 1) + '</div>');
    var body = $('<div class="panel-body">')
    body.append('<label for="player' + i + '">');
    var select = $('<select id="player' + i + '" class="player form-control">');
    select.append('<option value="">Select a player</option>');
    body.append(select);
    player.append(body);
    return player;
  }
  $('#game_season_name').change(function () {
    $('#winners').empty();
    $('#losers').empty();
    if($('#game_season_name').val() != "") {
      $('#winners').append('<h3>Winners</h3>');
      $('#losers').append('<h3>Losers</h3>');
      var selected_season = $('#game_season_name').find(':selected');
      var players_per_team = parseInt(selected_season.attr('players_per_team'));
      for(var i = 0; i < players_per_team; ++i) {
        $('#winners').append(create_player(0, i));
        $('#losers').append(create_player(1, i));
      }
      players.forEach(function (player) {
        var option = $('<option>').val(player.id).append(player.email);
        $('.player').append(option);
      });
    }
  });
</script>
