/*
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 *= require tipsy
 *= require jquery-ui
 */

body, html {
  height: 100%;
  width: 100%;
}

body, main {
  background-color: rgba(216, 252, 255, 1) !important;
}

table, .panel-body {
  background-color: #FFFFFF !important;
}

table tr {
  font-size: 80%;
}

.rating_row {
  cursor: pointer;
}

.current_user_row {
  background-color: rgba(123, 59, 59, 0.1);
}

#panel {
  padding-top: 50px;
  min-height: 100%;
  min-width: 100%;
}
