/*
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */

body, html, #top_container {
  height: 100%;
  width: 100%;
}

table {
  background-color: #FFFFFF !important;
}

.user_row {
  cursor: pointer;
}

.panel-body {
  background-color: #FFFFFF !important;
}

#panel {
  padding-top: 70px;
  min-height: 100%;
  min-width: 100%;
}
