/*
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */

body, html {
   height: 100%;
}

table {
  background-color: #FFFFFF !important;
}

.user_row {
  cursor: pointer;
}

.panel-body {
  background-color: #FFFFFF !important;
}

#panel {
  padding-top: 70px;
}
