.menu, .navbar {
  background-color: #FD8854 !important;
}

.menu header,
.menu_header,
.navbar a,
.league_menu_item a {
  color: #151A1A !important;
}

.menu .glyphicon, .navbar .glyphicon {
  color: #FFFAF8 !important;
}

body, main {
  background-color: #FFAF6C !important;
}

#site_contents .panel,
#site_contents .panel-heading,
#site_contents .well,
#site_contents .nav,
#user_avatar_display img {
  border-color: #D05E00 !important;
}

#site_contents .panel-body {
  background-color: #FDA054 !important;
}

#site_contents .panel-heading,
#site_contents .well,
#user_avatar_display img {
  background-color: #FFFBF8 !important;
}

table, td {
  background-color: #EFEFEF;
  border-color: #00512E !important;
}

thead td {
  background-color: #FFFCF8 !important;
  color: #D07400 !important;
}

tbody td,
#site_contents .league_rating h3 {
  color: #00512E !important;
}

#site_contents h1,
#site_contents h2,
#site_contents h3,
#site_contents a,
#rules_button,
#extra_rules_heading {
  color: #D05E00 !important;
}

