#god_button {
  position: absolute;
  margin-right: 0 !important;
  top: 0.25% !important;
  right: 0.5% !important;
}

#menu_button {
  position: absolute;
  margin-left: 0 !important;
  top: 0.25% !important;
  left: 0.5% !important;
}

.navbar-brand {
  position: absolute;
  margin-top: 0 !important;
  margin-left: 0 !important;
  display: inline !important;
  top: 0.25% !important;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.underlined {
  text-decoration: underline;
}
