#menu_button, #god_button {
  z-index: 30;
}

.navbar-brand {
    position: fixed;
    margin-left: 0 !important;
    top: 0.5%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.underlined {
  text-decoration: underline;
}
