.ui-autocomplete {
  max-height: 100px !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

#contacts_pane, .custom-combobox {
  max-width: 100%;
}

.custom-combobox {
  width: 100%;
  left: 0;
  position: relative !important;
  display: inline-block !important;
  margin-left: 0;
}

.custom-combobox-toggle {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  min-width: 5%;
  margin-left: -1px !important;
  padding: 0 !important;
}

.custom-combobox-input {
  min-width: 95%;
  left: -15px;
  margin: 0 !important;
  padding: 5px 10px !important;
}

.contact .glyphicon-remove {
  float: right;
  cursor: pointer;
  color: red;
}

#contacts_pane {
  text-align: left;
}
