body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position: relative;
  z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.menu {
  background-color: #1D1F20;
  background-image: linear-gradient(145deg, #1D1F20, #404348);
}

.panel {
  min-height: 100%;
}

.menu a {
  color: #fff;
  cursor: pointer;
}

.menu a:hover {
  text-decoration: none;
}

.menu-header {
  border-bottom: 1px solid #2a2d2f;
  padding: 20px 0 20px 60px;
  background-size: 32px;
}

.menu_link {
  padding: 20px 0 20px 15px;
}

.menu-header {
  border-bottom: 1px solid #2a2d2f;
  padding: 20px 0 20px 60px;
  background-size: 32px;
}

.menu-section {
  border-bottom: 1px solid #2a2d2f;
  margin: 25px 0;
}

.menu-section-title {
  text-transform: uppercase;
  color: #85888d;
  font-weight: 200;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 0 20px;
  margin:0;
}

.league_menu_item {
  color: #85888d;
  margin:0;
  margin: 10px 0;
  padding: 0;
}

.league_menu_item a {
  padding: 10px 20px;
  width: 100%;
}

.menu-section-list {
  padding: 0;
  margin: 10px 0;
  list-style: none;
}

.menu-section-list a {
  display: block;
  padding: 10px 20px;
}

#log_game_button, #invite_player_button {
  border-bottom: 1px solid #2a2d2f;
}

.menu_link .menu_label {
  padding-left: 5px;
}

#new_league_button {
  position: absolute;
  left: 225px;
}

.admin_menu_button {
  left: 200px;
}

.menu-section-list a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
