<h4 class="instruction_step">Step 1:</h4>
<p class="underlined">
  Create a league
</p>
<p>
  A league consists of the people that you will be playing ranked games with (ex:
  Fraternity, Friend crew, etc.) and is a larger organizational unit than a season.
</p>
<h4 class="instruction_step">Step 2:</h4>
<p class="underlined">
  Create a season
</p>
<p>
  On the league admin page (opened with the
  "<span class="glyphicon glyphicon-king" aria-hidden="true"></span>" button on the side
  bar) you will see the option to create a season. A season has an end date and a defined
  set of rules (ex: 10 Cup Spring 2015). Multiple seasons can be running at one time.
  Everybody in a League is automatically enrolled in its seasons.
</p>
<h4 class="instruction_step">Step 3:</h4>
<p class="underlined">
  Invite your friends
</p>
<p>
  Invitations will be received via email and can be sent out by clicking
  “<span class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp;Invite Players”
  on the side bar. If your friend has not created an account they will be asked to. To
  protect your privacy, the only people who can see a league are those who have been
  invited.
</p>
<h4 class="instruction_step">Step 4:</h4>
<p class="underlined">
  Log games
</p>
<p>
  The "<span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;Log Game"
  button can be found at the top of the side bar. The only way to determine the best
  player is to play so go put some balls in cups!
</p>
