<div class="alert alert-danger" role="alert">
  <b></b> You can open this again later by pressing the
  "<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
  &nbsp;Instructions" button in the side bar opended by clicking
  <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
  in the top left.
</div>
