<% if @leagues.size > 0 %>
  <button id="log_game" type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#log_game_modal">
    Log Game
  </button>
  <%= render template: 'games/log_game_modal' %>
<% end %>
