<div id="nav_bar">
  <center>
    <div class="btn-group btn-group-lg" role="group" aria-label="...">
      <%= render template: 'common/log_game' %>
      <%= additional_buttons %>
    </div>
  </center>
</div>
