<div id="nav_bar">
  <center>
    <% if additional_buttons != '' %>
      <div class="btn-group btn-group-lg" role="group" aria-label="...">
        <%= additional_buttons %>
      </div>
    <% end %>
  </center>
</div>
