<div id="site_header">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>
          <%= link_to 'Balls', root_path %>
        </h1>
      </div>
      <div class="col-md-6 text-right">
        <% if user_signed_in? %>
          Welcome back
          <%= link_to current_user.email, user_path(current_user) %>
          | <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Please log on to continue...', new_user_session_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
