<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a id="menu_button" href="#">
            <h4>☰</h4>
          </a>
        </li>
       <li>
         <%= link_to root_path do %>
           <h4>BallsApp</h4>
         <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
