<div id="user_entrance">
  <ul class="nav nav-tabs">
    <li id="sign_up_button" role="presentation" class="active">
      <a>Sign Up</a>
    </li>
    <li id="log_in_button" role="presentation" >
      <a>Log In</a>
    </li>
  </ul>
  <div class="well">
    <div id="sign_up_pane">
      <%= render 'devise/registrations/new' %>
    </div>
    <div id="log_in_pane" hidden=true>
      <%= render 'devise/sessions/new' %>
    </div>
  </div>
</div>
